# Node.js ile ilgili klasör ve dosyalar
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Çalışma anında oluşan dosyalar
.DS_Store
.env
.env.local
.env.*.local

# Log dosyaları
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Üretilen dosyalar
dist/
build/
out/

# IDE ve editör dosyaları
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Geçici dosyalar
*.swp
*.bak
*.tmp
*.temp
~$*

# Git dosya sistemine özel dosyalar
*.orig
*.rej

# Diğer
coverage/
.cache/
